/*8D94C6 -- azul*/

.pokeBox{
    width: 223px;
    height: 223px;
    z-index: 1;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.fundo{
    width: 223px;
    height: 223px;
    background-color: #d9d9d9;
    opacity: .8;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.bigCircle{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: solid 10px #8d94c6;
}
.smallCircle{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 10px #8d94c6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftLine{
    height: 10px;
    width: 50px;
    background-color: #8d94c6;
    position: absolute;
    left: 20%;
}
.rightLine{
    height: 10px;
    width: 50px;
    background-color: #8d94c6;
    position: absolute;
    left: 60%;
}
.damage{
    position: absolute;
    width: 75%;
    height: 75%;
    color: yellow;
    text-shadow: 0px 0px 5px red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: .9;
    font-size: 6rem;
    transition: .5s;
}
.poisonBox{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poisonEffect{
    position: absolute;
    background-color: purple;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    opacity: .2;
    animation: poisoned 3.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubbles{
    width: 20px;
    height: 20px;
    border: 2px solid purple;
    position: absolute;
    border-radius: 50%;
    animation: bubble 1.7s infinite;
    opacity: 0;
}
.bubbles:nth-child(1n){
    left: 10%;
    bottom: 10%;
}
.bubbles:nth-child(2n){
    width: 28px;
    height: 28px;
    left: 0%;
    bottom: 20%;
    animation-delay: .5s;
}
.bubbles:nth-child(3n){
    width: 18px;
    height: 18px;
    left: 7%;
    bottom: 15%;
    animation-delay: .7s;
}
.bubbles:nth-child(4n){
    top: 15%;
    left: 80%;
}
.bubbles:nth-child(5n){
    width: 20px;
    height: 20px;
    left: 75%;
    bottom: 60%;
    animation-delay: .2s;
}
.bubbles:nth-child(6n){
    width: 18px;
    height: 18px;
    left: 85%;
    bottom: 55%;
}
.bubbles:nth-child(7n){
    width: 8px;
    height: 8px;
    left: 15%;
    bottom: 70%;
}
.bubbles:nth-child(8n){
    width: 18px;
    height: 18px;
    left: 25%;
    top: 20%;
}
.bubbles:nth-child(9n){
    width: 8px;
    height: 8px;
    left: 75%;
    bottom: 10%;
}
.bubbles:nth-child(10n){
    width: 18px;
    height: 18px;
    left: 80%;
    top: 80%;
}
@keyframes bubble {
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 2;
        opacity: 0;
        transform: translateY(-10px);
    }
}
@keyframes poisoned {
    0%{
        opacity: .2;
    }
    50%{
        opacity: .3;
    }
    100%{
        opacity: .2;
    }
}
.burnedBackground{
    background-color: rgba(255, 0, 0, 0.245);
    position: absolute;
    height: 100%;
    width: 100%;
}
.burnedBox{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burnedEffect{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../images/GlIU.gif');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    mix-blend-mode: soft-light;
}
.asleepEffect{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -60px;
    top: -70px;
}
.zzZ{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 183, 255);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    animation: floating 3s ease-in-out infinite;
}
.zzZ:nth-child(1n){
    transform: translate(50px, -30px);
    font-size: 1.5rem;
    animation-delay: .5s;
}
.zzZ:nth-child(2n){
    transform: translate(55px, -45px);
    font-size: 2rem;
    animation-delay: .2s;
}
.zzZ:nth-child(3n){
    transform: translate(60px, -65px);
    font-size: 3rem;
    animation-delay: 0s;
}
@keyframes floating {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@media (max-width: 1000px) {
    .pokeBox{
        width: 110px;
        height: 110px;
        border-radius: 25%;
    }
    .bigCircle{
        position: absolute;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: solid 7px #8d94c6;
    }
    .smallCircle{
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: solid 7px #8d94c6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .leftLine{
        height: 7px;
        width: 28px;
        background-color: #8d94c6;
        position: absolute;
        left: 10%;
    }
    .rightLine{
        height: 7px;
        width: 28px;
        background-color: #8d94c6;
        position: absolute;
        left: 60%;
    }
    .damage{
        position: absolute;
        width: 75%;
        height: 75%;
        color: yellow;
        text-shadow: 0px 0px 5px red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        opacity: .9;
        font-size: 3rem;
        transition: .5s;
    }
    .asleepEffect{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -15px;
        top: -20px;
    }
    .zzZ{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(0, 183, 255);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    }
    .zzZ:nth-child(1n){
        font-size: 1rem;
        animation-delay: .5s;
    }
    .zzZ:nth-child(2n){
        font-size: 1.5rem;
        animation-delay: .2s;
    }
    .zzZ:nth-child(3n){
        font-size: 2rem;
        animation-delay: 0s;
    }
    @keyframes floating {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(30px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}